venv
dist
build
main.spec
config/*
classes/__pycache__
modules/__pycache__
modules/config/__pycache__
modules/connection/__pycache__/connection.cpython-312.pyc
classes/__pycache__/PlataformaAcesso.cpython-312.pyc
classes/__pycache__/PlataformaAcesso.cpython-312.pyc
modules/connection/__pycache__/connection.cpython-312.pyc
classes/__pycache__/PlataformaAcesso.cpython-312.pyc
modules/connection/__pycache__/connection.cpython-312.pyc
teste.ipynb
controller/__pycache__/controller.cpython-312.pyc
classes/__pycache__/PlataformaAcesso.cpython-312.pyc
modules/connection/__pycache__/connection.cpython-312.pyc
bom.js
classes/__pycache__/PlataformaAcesso.cpython-312.pyc

icone_python.spec
